.item:not(:last-child) {
    border-bottom: none;
}

.item {
    background-color: white;
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    border: solid 1px #767676;
    cursor: pointer;
}

.issuer {
    color: #424242;
}

.code {
    font-size: 24px;
    padding: 0px;
    font-family: monospace;
    user-select: text;
    text-align: right;
    display: block;
    width: 103px;
    overflow: hidden;
    border: none;
    resize: none;
    height: 35px;
    line-height: 39px;
}

body {
    margin: 0px;
    background-color: #f3f3f3;
    font-family: sans-serif;
}

div#items {
    margin-top: 10px;
}

div#wrapper {
    min-width: 350px;
}

.tab {
    padding: 15px;
}

#data {
    width: 100%;
}

#btnSetting {
    float: right;
}
#wrapper {
    max-width: 600px;
    margin: auto;
}